





nav a,
footer a,
span {
    font-size: 20px;
    color: rgb(7, 11, 1);
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

footer p {
    color: aliceblue;
    font-style: italic;
}

footer a {
    color: aliceblue;
    margin-left: 20px;
    border: 2px white solid;
}

body {
    background: url(../photo/olen.png);
}

h1 {
    color: aliceblue;
    font-size: 40px;
    font-style: italic;
}

h2 {
    color: aliceblue;
    font-size: 30px;
    font-style: italic;
}

.about {
    font-family: woodblock;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 150;
    color: aliceblue;
}

.employee {
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
}

.t {
    color: black;
    background-color: #fff;
    border-color: cadetblue;
    max-width: 700px;
    width: 90%;
}

.rog {
    color: rgba(252, 255, 255, 0.988);
}

a:hover {
    color: rgb(15, 221, 221);
    transition-duration: 1s;
}

.tableem {
    border: 2px, white, solid;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table img {
    width: 100px;
}

#leftnav {
    border: 3px rgb(247, 249, 247) solid;
    background: linear-gradient(45deg, #ae0606, #2805ec);
    padding: 10px;
}

/*Ссылка на МВД РФ*/
a[href^="https://"] {
    color: rgb(21, 246, 9);
}

a[href^="#top"] {
    opacity: 0.5;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /* Цвет фона левой колонки */
    background: rgba(255, 255, 255, 0.5);
}

header {
    font-size: 2.2em;
    /* Размер текста */
    text-align: center;
    /* Выравнивание по центру */
    padding: 5px;
    /* Отступы вокруг текста */
    background: linear-gradient(45deg, #ae0606, #2805ec);
    /* Цвет фона шапки */
    color: #ffe;
    /* Цвет текста */
}

#leftnav {
    margin-top: 10px;
    width: 200px;
    height: 300px;
    /* Ширина слоя */
    padding: 0 10px;
    /* Отступы вокруг текста */
    float: left;
    /* Обтекание по правому краю */

}

main {
    width: 700px;
    background: rgba(29, 28, 28, 0.5);
    /* Отступ слева */
    padding: 10px;
    /* Поля вокруг текста */
    float: left;
}

footer {
    background: #8fa09b;
    /* Цвет фона подвала */
    color: #fff;
    /* Цвет текста */
    padding: 5px;
    /* Отступы вокруг текста */
    clear: left;
    /* Отменяем действие float */
}

input:focus,
textarea:focus {
    background-color: lightblue;
    border: 2px, orange solid;
}

/* Оформление списка*/
#leftnav ul {
    list-style-image: url("../images.png");
}

#leftnav ul li:hover {
    list-style-image: none;
    transform: translateX(10px);
    transition-duration: 1s;
}

.t tr th {
    background-color: red;
    color: white;
}

#stroka1,
#stroka2 {
    color: cadetblue;
}

/*Сокрытие ячейки*/
.t tr td:hover,
.t tr th:hover {
    visibility: hidden;
}

#flexnav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;

}

#flexnav a {
    padding: 5px;
}

#flexnav a:hover {
    transform: translateY(-10px);
}

/*Флекс с таблицей*/
.row {
    display: flex;
    justify-content: space-between;
    border: 2px white solid;
}

.block1,
.block2,
.block3,
.block4 {
    align-items: center;
    display: flex;
    border: 2px white solid;
    width: 170px;
}

.imgs {
    border-radius: 15%;
    box-shadow: 5px 3px 4px 2px black;
    width: 100px;

}

.photo {
    box-shadow: 5px 3px 4px 2px gray;
    border-radius: 10%;
    border: 2px orange solid;
}

#previewFrame {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    
    
}

.preview {
    margin: 0 15px 0 0;
    
}

.preview div {
    position: relative;
    width: 100px;
    bottom: 3px;
    left: 2px;
    display: flex;
    color: white;
    justify-content: space-between;
    opacity: 0;
    max-width: 500px;
    max-height: 500px;
    width: 100%;

}

.preview div p {
    background-color: rgba(62, 62, 62, 0.5);
    width: 101px;
    border-radius: 10%;
    position: absolute;
    top: -35px;
    left: -1px;
}

.preview:hover div {
    opacity: 1;
    transition-duration: 1s;
}

.navmedia ul {
    list-style: none;
}

.navmedia ul {
    border: 1px rgb(2, 2, 2) dashed;
    background-color: rgb(252, 252, 252);
    position: absolute;
    width: 140px;
    display: none;
}

.navmedia ul li {
    position: relative;
    right: 10px;
}

.navmedia:hover ul {
    display: block;
    transition-duration: 1s;
}

/*Горизонт меню выпад список*/

.flexnavmedia ul, .flexnavmedia{
    list-style: none;
    list-style-position: inside;
   
    padding: 10px;
    
}

.flexnavmedia ul {
    border: 1px rgb(2, 2, 2) dashed;
    background-color: rgb(252, 252, 252);
    position: absolute;
    width: 140px;
    display: none;
}

.flexnavmedia li ul li {
    position: relative;
    
}

.flexnavmedia:hover ul {
    display: block;
    transition-duration: 1s;
}

.flexnavmedia:hover{
   transform: translateY(-10px);
    transition-duration: 1s;
}
/*Адаптивный макет*/
video{
    max-width: 700px;
    width: 100%;
}
.gif{
    max-width: 500px;
    width: 100%;
}
/*медиа запросы*/
@media screen and (max-width:1000px) {
    #container {
        max-width: 1000px;
        width: 100%;
    }
    main {
        max-width: 1000px;
        margin-left: 0;
    }
    #leftnav{
        display: none;
    }
    #flexnav {
        flex-wrap: wrap;
    }
    #flexnav a {
        margin: 10px;
    }
    
    #flexnav ul li ul li a {
        font-size: 18px;
        flex-wrap: nowrap;
        margin: 5px;
        border: none;
        background: none;
    }
}
@media screen and (max-width:640px) {
    #flexnav {
        flex-direction: column;
    }
}