
nav a, footer a, span{
    font-size:20px;
    color: rgb(7, 11, 1);
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
    
}

footer p{
    color: aliceblue;
    font-style: italic;
    
}
footer a{
    color: aliceblue;
    margin-left: 20px;
  
}
body {
    background-color: rgb(110, 109, 109) ;
    
}
h1 {
    color: aliceblue;
    font-size:40px;
    font-style: italic;
}
h2{ color: aliceblue;
    font-size:30px;
    font-style: italic;
}
.about{
    font-family:woodblock ;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 150;
    color: aliceblue;
}
.employee{
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
   
}
.t{
    color: black;
    background-color: #fff;
}
.rog{
    color: rgb(3, 8, 8);
}
a:hover{
    color: rgb(5, 139, 139);
    transition-duration: 1s;
}
img {
    border: 3px, blue, dotted;
}
.l{
    border: 2px, white, solid;
    background-color: cadetblue;
}
table img{
    width: 100px;
}
nav{
    border: 3px rgb(247, 249, 247) solid; 
    background-color: rgb(246, 244, 246);
    padding: 10px;
}
/*Ссылка на МВД РФ*/
a[href^="https://"]{
    color: darkblue;
}
#container {
    width: 1000px;
    margin: 0 auto;

    /* Цвет фона левой колонки */
    background:#627771;

}

header {
    font-size: 2.2em;
    /* Размер текста */
    text-align: center;
    /* Выравнивание по центру */
    padding: 5px;
    /* Отступы вокруг текста */
    background: #8fa09b;
    /* Цвет фона шапки */
    color: #ffe;
    /* Цвет текста */
}

nav {
    margin-top: 10px;
    width: 200px;
    height:300px;
    /* Ширина слоя */
    padding: 0 10px;
    /* Отступы вокруг текста */
    float: left;
    /* Обтекание по правому краю */
    background-color: #f4f9f8;
  
}

main {
    width: 700px;
    background: #555c5a;
    /* Отступ слева */
    padding: 10px;
    /* Поля вокруг текста */
    float: left;

   
    
}

footer {
    background: #8fa09b;
    /* Цвет фона подвала */
    color: #fff;
    /* Цвет текста */
    padding: 5px;
    /* Отступы вокруг текста */
    clear: left;
    /* Отменяем действие float */
}